---
title: Playdate // 01 Patterns
---

<% content_for :project_css do %>
	<%= stylesheet_link_tag "01-patterns" %>
<% end %>

<div class="top">
	<h2>01. Patterns</h2>
	<div class="score cf">
		<p class="prompt">Ready?</p>
		<p class="round">Round: 1</p>
	</div>
</div>

<div class="patterns cf"></div>