---
title: Press Start // Patterns
---

<% content_for :project_css do %>
	<%= stylesheet_link_tag "01-patterns" %>
<% end %>

<div class="top">
	<h2>01. Patterns</h2>
</div>

<div class="patterns"></div>