---
title: Press Start // Experiments
---

<div class="welcome">
  <h1>Press Start</h1>
  <h5>Experiments from the nadir.</h5>
</div><!-- .welcome -->

<div class="entries">
	<h3><%= link_to "01-patterns", "projects/01-patterns.html" %></h3>
</div><!-- .entries -->